body
{
    font-family: "Courier Prime", "sans-serif";
    color: rgba(46, 45, 45, 0.719);
    font-size: 15;
    margin: 0;
}
header
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
box-sizing: border-box;
}

header li
{
    margin-left: 10px;
  margin-top: 20px;
  font-family: "Raleway","sans-serif";
  
}
header li:hover {
   background-color: rgba(218, 218, 218, 0.63);
   border-radius: 3px;
  }
#logo a
{
    padding: 30px;
    
}
footer {
    background-color: rgba(218, 218, 218, 0.63);
    padding: 1px;
  }
  
  footer ul {
    display: flex;
    justify-content: right;
    list-style: none;
  }
  
  footer li {
    width: 80px;
    height: 80px;
    margin:31px -25px;
  }
  
  footer img {
    width: 20%;
    height: 20%;
  }