#hero
{
    height: 550px;
    background-image: url("/images/places/mountain.jpg");
    background-size: cover;
  
}
#hero-content{
    width: 700px;
    height: 200px;
    background-color: rgba(29, 28, 28, 0.466);
    box-shadow: 2px 4px 7px rgb(124, 122, 122);
    border-radius: 8px;
    text-align: center;
    padding: 25px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#hero-content h1
{
    color: white;
    text-transform: uppercase;
    font-size: 55px;
    font-family: "Raleway","sans-serif";
    margin: 0px;

}
#hero-content p
{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Courier","sans-serif";
margin-bottom: 20px;
}
#hero-content a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.459);
    padding: 12px 22px;
    color: rgba(0, 0, 0, 0.699);
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 2px 4px 7px rgb(124, 122, 122);
  }
  #hero-content a:hover {
    background-color: rgb(255, 238, 0);
  }
#destinations {
    list-style: none;
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

  .destination img
{
    height: 200px;
    width: 300px;
    box-shadow: 2px 4px 7px rgb(124, 122, 122);
    border-radius: 7px;
    object-fit: fill;
}

.destination
{
    margin: 0 50px;
    text-transform: uppercase;
}
#highlights h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: rgb(59, 65, 64);
    margin: -22px 0;
    padding-top: 120px;
  }
  #highlights
  {
    height: 600px;
    margin: 22px 0;
    background-color: rgba(233, 230, 230, 0.726);
  }
  #highlights p {
    text-align: center;
    font-size: 12px;
    color: rgb(59, 65, 64);
    margin: 24px 0px;
    
  }
.destination p
{
    text-align: center;
    margin: 10px;
    font-size: 12px;
    color: rgba(29, 28, 28, 0.466);
}
.destination strong
{
    color: rgb(9, 144, 255);
}
